.habit-list {

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    gap: 20px;
    column-gap: 40px;
    padding: 20px;
}


.toolbar, .category-filter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f5f5f5;
    padding: 10px 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

.toolbar:hover {
    background-color: #e6e6e6 ;
}

.toolbar.collapsed {
    
    background-color: #e0e0e0;
    cursor: pointer;
}

.toolbar.expanded {
    background-color: #cccccc;
    cursor: pointer;
}

.btn {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

.simulated-date {
    font-size: 14px;
    color: #333;
}



.category-filter {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
    font-size: 14px;
    font-weight: bold;
    padding: 10px 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    width: 100%;
}

.category-filter label {
    font-weight: 600;
    font-size: 14px;
}

.category-filter select {
    padding: 5px 10px;
    font-size: 14px;
    border-radius: 5px;
    border: 1px solid #ccc;
    outline: none;
    cursor: pointer;
}



.add-habit-card {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #007bff;
    color: white;
    padding: 15px;
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s;
}

.add-habit-card:hover {
    background-color: #0056b3;
}

.add-habit-card svg {
    color: white;
    font-size: 1.5rem;
}

.category-tag {
    background-color: #007bff;
    color: white;
    padding: 3px 8px;
    border-radius: 12px;
    font-size: 12px;
    text-transform: uppercase;
    margin-bottom: 10px;
    display: inline-block;
}

.category-tag.Health {
    background-color: #28a745;
}

.category-tag.Work {
    background-color: #ffc107;
}

.category-tag.Study {
    background-color: #17a2b8;
}

.category-tag.Personal {
    background-color: #e83e8c;
}