.habit-item {
  background-color: #333244;
  color: #f0f0f0;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 250px;
  position: relative;
  transition: transform 0.3s, box-shadow 0.3s;
}

.habit-item:hover {
  transform: translateY(-3px);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.5);
}


.habit-title {
  max-height: 40px;
  max-width: 180px;
  overflow-x: auto;
  white-space: nowrap;
  width: 100%;
  text-align: center;
  font-size: 1.4rem;
  margin-bottom: 10px;
}


.progress-badge {
  background-color: #564463;
  color: white;
  padding: 10px 20px;
  border-radius: 50px;
  font-weight: bold;
  font-size: 1em;
  margin: 15px auto;
  width: 100px;
  text-align: center;
  transition: background-color 0.3s;

  text-shadow: 
    -1px -1px 0 #000,  
    1px -1px 0 #000,   
    -1px 1px 0 #000,   
    1px 1px 0 #000;    

}

.streak-indicator {
  font-size: 1.2em;
  color: orange;
  font-weight: bold;
  margin-top: 5px;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: block;
  opacity: 0;
  white-space: nowrap;
}


.streak-indicator {

  opacity: 1;
}

.completed-label {
  font-style: italic;
  color: #ccc;
  font-size: 1.4em;
  text-shadow: 1px 1px 2px black;
  position: relative;
  display: block;
  margin-bottom: 10px;
}

.habit-item.completed {
  background-color: #464355;
  color: #bbb;
}

.habit-item.completed .completed-label {

  font-weight: bold;
  color: #FFD700;
}

.remove-button {
  background-color: #f6b93b;
  color: #2c2233;
  border: none;
  padding: 8px 16px;
  font-size: 0.9em;
  border-radius: 5px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  margin-top: 10px;
}


.remove-button:hover {
  background-color: #ffd700;
  color: #2c2233;
}


.remove-button.hidden {
  display: none;
}



.habit-item button {
  background-color: transparent;
  color: #f0f0f0;
  border: 2px solid #f0f0f0;
  padding: 5px 10px;
  font-size: 0.8em;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  margin-top: 5px;
  margin-right: 5px;
}


.habit-item button:hover {
  background-color: #f6b93b;
  color: #2c2233;
}




